/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {


}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1199.98px) {


}

 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991.98px) {
    .head-text h4 {
        font-size: 16px;
    }

}

 
/* small mobile :320px. */
@media (min-width: 320px) and (max-width: 767.98px) {
    .main-section {
        padding-top: 45px;
        padding-bottom: 30px;
    }
    .section-title h3 {
        font-size: 24px;
    }
    .about-user img {
        max-width: 135px;
        margin-bottom: 35px;
    }
    .bail-nav .nav-tabs .nav-link {
        font-size: 20px;
    }
    .bail-nav .nav {
        width: 250px;
    }
    .info li {
        font-size: 16px;
        line-height: 35px;
    }
    .back-btn a {
        font-size: 16px;
    }
    .update-list li {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .update-list li span.p {
        width: 90%;
    }
    .last-li.mb-80 span.p {
        width: 90%;
    }
 
}
 
/* Large Mobile :480px. */
@media (min-width: 576px) and (max-width: 767.98px) {


 
}
